* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
body {
  background-color: #ffffff;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2rem;
  height: 100%;
  width: 100%;
}

#encryptor {
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.title {
  color: #820ad1;
  font-size: 2rem;
  font-weight: 700;
}

.text-input-container {
  margin: 30px;
  width: 95%;
  margin-top: 1rem;
}

#text-input {
  background-color: transparent;
  border: 2px solid #753b96;
  border-radius: 1rem;
  display: block;
  font-size: 1.3rem;
  padding: 1.5rem;
  min-height: 13rem;
  width: 100%;
  height: 100%;
  text-align: start;
}

#text-input[contenteditable]:empty::before {
  content: "Digite aqui seu texto";
  color: #d6d6d6;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin: 1rem 0;
}

.buttons-container p {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #753b9680;
  margin-left: 30px;
}

.buttons-container button {
  margin-top: 1rem;
  width: 20%;
  margin-left: 30px;
}

button {
  border: 1px #753b9665 solid;
  background: #753b96;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  width: 90px;
  height: 50px;
}
.ref-btn:hover {
  background-color: #f0f0f0;
  color: #753b96;
}
button:hover {
  background-color: #753b96;
  color: #f4f4f4;
  transition: 0.5s;
}

button:active {
  background-color: rgb(98, 27, 165);
}
.ref-btn {
  background-color: #c792e6;
  color: #fdfdfd;
  border-color: #810ad104;
}

.decry-btn {
  background-color: #f0f0f0;
  color: #515151;
  border-color: #810ad104;
}

.encry-btn {
  background-color: #f0f0f0;
  color: #515151;
  border-color: #810ad104;
}

h3 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin-left: 30px;
  margin-top: 50px;
  color: #bbb9b9;
}

.text-output-container {
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  justify-content: end;
  position: relative;
  min-height: 20rem;
  width: 100%;
}

#text-output {
  border: none;
  grid-row: 1;
  color: #64236f;
  font-size: 1.2rem;
  padding: 2rem;
  margin-bottom: 130px;
  word-wrap: break-word;
  resize: none;
  width: 100%;
  margin-top: 60px;
}

.text-output-container img {
  position: absolute;
  height: 90%;
  margin-left: 1000px;
}

.text-output-container button {
  width: 90px;
  height: 50px;
  grid-row: 1;
  margin-bottom: 160px;
}

@media (max-width: 700px) {
  .text-output-container img {
    display: none;
  }
  #text-output {
    word-break: break-word;
  }

  .decry-btn {
    display: flex;
    background-color: transparent;
  }
  .encry-btn {
    display: flex;
    background-color: transparent;
  }
  .ref-btn {
    display: flex;
    color: #515151;
    gap: 20px;
    background-color: transparent;
  }
  .ref-btn:hover {
    background-color: transparent;
  }
  .title {
    font-size: 0.9rem;
    text-align: start;
    word-break: break-word;
  }
}
